*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: hsl(0, 0%, 100%);
	font-size: 14px;
	text-align: center;
}

body {
	background-color: hsl(217, 28%, 13%);
}

/** Header Design **/
header {
	background-color: hsl(218, 28%, 15%);
}

#logo {
	width:150px;
	height: auto;
	padding: 10px 25px;
}

#heading {
	padding: 10px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between; 
	align-content: center;
}

@media screen and (max-width: 475px) {
	#logo {
		padding: 5px 10px;
	}
	#heading { 
		flex-wrap: nowrap;
	}
}


/** Navigation Design **/
.nav {
	display: inline-block;
	text-align: right;
	padding: 10px;
}

.nav ul {
	display: inline-block;
	list-style-type: none;
}

.nav ul li {
	display: inline-block;
	margin: 0.3em;
}

a {
	text-decoration: none;
	color: hsl(0, 0%, 50%);
}

a:hover {
	color: hsl(0, 0%, 100%);
}

/** Main Design **/
main {
    background-color: hsl(218, 28%, 15%);
    display: flex;
    flex-flow: column;
    position: relative;
    z-index: 1;
    justify-content: center;
}

.bg-curvy {
	width: 100vw;
	position: absolute;
	z-index: 0;
	bottom: 0px;
}

main div {
	width: 100%;
	z-index: 1;
}

main div img {
	width: 50%;
	margin: 2% 10%;
}

.text {
	display: flex;
	justify-content: center;
}

.text p {
	max-width: 500px;
}
.head-text {
	font-size: 200%; 
	font-weight: 700;
}

@media screen and (max-width: 375px) {
	.head-text {
		font-size: 8vw; 
		font-weight: 400;
	}
}


.button {
	width: 40%;
	text-align: center;
	background-color: hsl(198, 60%, 50%);
	padding: 15px;
	border: none;
	border-radius: 30px;
	color: hsl(0, 0%, 100%);
	margin: 10px 0px;
	z-index: 1;
}

button:hover {
	cursor: pointer;
	background-color: hsl(176, 68%, 64%);
}

.container {
	display: flex;
	width: 100vw;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

section {
	display: flex;
	flex-wrap: wrap;
	width: 90vw;
	justify-content: center;
	margin: 50px 0px;
}

/** Info Design **/
.info-container {
    width: 45%;
    margin: 20px;
    text-align: center;
}

.info-container img {
	height: 15vh;
}

h2 {
	font-size: 20px;
	font-weight: 700;
}

p {
	text-align: center;
	padding: 0.5vw 2.5vw;
}

@media screen and (max-width: 520px) {
	.info-container {
    	width: 75%;
    }
    .info-container img {
		height: 25vw;
	}
}


/** Stay Productive Design **/
.half-container {
	width: 45vw;
	text-align: left;
}

.half-container img {
	width: 100%;
}

.half-container h2 {
	text-align: left;
	width: 75%;
	padding: 0.5vw 2.5vw;
}
.half-container p {
	text-align: left;
	width: 100%;
}

.half-container a {
	color: hsl(176, 68%, 64%);
	padding: 0.5vw 2.5vw;
	text-decoration: underline;
}

.half-container a img {
	width: 14px;
	vertical-align: text-top;
}

@media screen and (max-width: 700px) {
	
	.half-container {
		width: 75vw;
	}
	.half-container h2 {
		text-align: center;
		width: 100%;
}
	
}


/** Testimonial Design **/
.testimonials {
	width: 340px;
	background-color: hsl(219, 30%, 18%);
	padding: 10px 10px;
	margin: 10px 10px;
	z-index: 1;
}

#testimonial {
	position: relative;
	z-index: 1;
}

#bg-quotes {
	position: absolute;
    z-index: 0;
    top: -35px;
}

.testimonials p {
	text-align: left;
}

.testimonial-info {
	display: flex;
	width: 100%;
	padding: 0.5vw 2.5vw;
	align-items: center;
}

.testimonial-info img {
	width: 15%;
	border-radius: 50px;
	border: none;
}

.testimonial-name {
	text-align: left;
	padding: 3%;
}

/** Form Design **/

.form {
	width: 100vw;
	display: flex;
	justify-content: center;
	position: absolute;
  	top: -200px;
    margin-block-start: 75px;

}

form {
	background-color: hsl(217, 28%, 15%);
	width: 75vw;
	border-radius: 5px;
	box-shadow: 5px 5px 5px 0px black;
	padding: 25px;
	margin: 25px 0px;
	align-items: center;
}

form div {
	width: 95%;
	display: flex;
	justify-content: center;
	align-items: center;
}

form div input {
	border-radius: 25px;
	border: none;
	padding: 10px;
	width: 75%;
	margin: 5%;
}

.error {
	position: absolute;
	bottom: 45px;
	font-size:65%;
	color: hsl(0, 100%, 63%);
	opacity: 0;
}

.error:hover {
	opacity: 100;
}

form div button {
	border-radius: 25px;
	border: none;
	padding: 10px 2px;
	width: 50%;
	background-color: hsl(198, 60%, 50%);
	color: hsl(0, 0%, 100%);
}

@media screen and (max-width: 640px) {
	form div button {
	width: 75%;
	}

	form div {
		flex-wrap: wrap;
	}

	.error {
		bottom: 87px;
	}
}

/** Footer design **/
footer {
	position: relative;
	background-color: hsl(216, 53%, 9%);
	margin-top: 200px;
}

#footer-logo {
	padding-top: 230px;
	padding-left: 10vw;
	text-align: left;
}

#footer-logo img {
	width: 10vw;
}

.fylo-details {
	display: grid;
	grid-template-columns: 2vw 30vw 2vw 20vw 0vw 10vw 0vw 10vw 0vw 10vw;
	padding: 20px;
	justify-content: center;
}

@media screen and (max-width: 700px) {
	#footer-logo img {
		width: 25vw;
	}
	#footer-logo {
		text-align: center;
		padding-left: 0vw;
	}
  .fylo-details {
    	grid-template-columns: 5vw 50vw;
  	}
  .grid {
		text-align: center;
	}
}

.grid {
	text-align: left;
	padding: 5px;
}

.icon {
	padding-top: 10px;
}

.icon img {
	width: 15px;
	padding-right: 2px;
}